[data-theme='light'] {
	--border-color-light: rgb(147, 147, 147);
	--contexify-activeItem-bgColor: #4f8ff8;
}

[data-theme='dark'] {
	--border-color-light: rgb(60, 60, 76);
	--contexify-menu-bgColor: #1e2333;
	--contexify-activeItem-bgColor: #4f8ff8;
	--contexify-item-color: white;
	.contexify {
		border: 1px solid rgb(60, 60, 76);
	}
}

.inpainting-canvas-stage {
	outline: none;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 0px 1px var(--border-color-light);
	overflow: hidden;

	canvas {
		outline: none;
		border-radius: 0.5rem;
	}
}
