test

.clickable {
  cursor: pointer;  
}
.icon-row {
  width: 2em;
}
.icon-folder {
  width: 1em;
}
.icon-file {
  width: 0.75em;
}

input[type="file"] { 
  opacity: 0; 
  position: absolute;
  z-index: -999;
}

